

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  display: block;
  background-color:#ffffff;
  -moz-border-radius:22px;
  -webkit-border-radius:22px;
  border-radius:22px;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Exo;
  font-size:10px;
  padding:0px 5px;
  text-decoration:none;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
